img {
  /* img elements are inline elements by default */
  /* by using the declaration display: block it makes the image a block element so I can center it using the margin: auto style declaration */
  display: block;
  margin: auto;
}

p {
  text-align: center;
  color: maroon;
  font-weight: bold;
  font-size: 1.9rem;
}

button {
  /*position the button by using the margin-left property*/
  margin-left: 750px;
}
